* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: var(--font-family-primary);
}

/* adding * for required inputs */
label:has(+ input[required])::after {
  content: " *";
  color: var(--error);
}