# Environment variables for the server application

# Server configuration
PORT = 4000

# Database configuration
MONGODB_URI=mongodb://admin:password@localhost:27017/resume-buddy?authSource=admin

# Google GenAI API Key
GOOGLE_GENAI_API_KEY=your_google_genai_api_key_here
GOOGLE_AI_MODEL=gemini-2.5-flash

# JWT configuration
ACCESS_TOKEN_SECRET=your_access_token_secret_here
ACCESS_TOKEN_EXPIRY=1d

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

# Environment 
NODE_ENV=development